exportPattern("^[[:alpha:]]+")
S3method(print, structure)
S3method(print, summarycore)
S3method(summary, core) 
S3method(print, summarylad)
S3method(summary, lad)
S3method(plot, lad)  
S3method(print, summarypfc)
S3method(summary, pfc) 
S3method(plot, pfc)
S3method(print, core)
S3method(print, lad)
S3method(print, pfc)
